@import '../../partials/variables';
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    .canvas{
        flex: 1;
        height: 100%;
        padding: 4rem;
        background: #f3f3f3;
        max-height: 100%;
        overflow: auto;
        &__container{
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
            justify-items: center;
            grid-gap: 4rem;
            width: 132rem;
        }
    }
    .controls{
        width: 35rem;
        height: 100%;
        background: $color-dark;
        padding: 4rem;
        max-height: 100%;
        overflow: auto;
        & > :not(:last-child){
            margin-bottom: 3rem;
        }
    }
}

.add-btn {
    display: flex;
    cursor: pointer;
    & > :not(:last-child) {
      margin-right: 1.5rem;
    }
    .item__icon{
        &--text{
            color: #fff;
        }
    }
}
