<form class="form" [formGroup]="shapeForm">
  <div class="input__group">
    <div class="input__label">Select Shape</div>
    <select
      name="shape"
      id=""
      formControlName="shapeType"
      class="input__field"
      (change)="onshapeChange($event)"
    >
      <option value="circle">circle</option>
      <option value="ellipse">ellipse</option>
      <option value="star">star</option>
      <option value="polygon">polygon</option>
    </select>
  </div>
  <div class="grid-col lg" *ngIf="(currentShape$ | async) === 'circle'">
    <div class="input__group">
      <div class="input__label">Center point X</div>
      <input
        type="number"
        placeholder=""
        formControlName="circleCenterx"
        class="input__field"
      />
      <em
        *ngIf="circleCenterx.hasError('required') && circleCenterx.dirty"
        class="help-block text-error"
      >
        This is required 😓
      </em>
      <em *ngIf="circleCenterx.hasError('max')" class="help-block text-error">
        maximum value is 100 😓
      </em>
      <em
        *ngIf="circleCenterx.hasError('min') && circleCenterx.dirty"
        class="help-block text-error"
      >
        minimum value is 0 😓
      </em>
    </div>
    <div class="input__group">
      <div class="input__label">Center point Y</div>
      <input
        type="number"
        placeholder=""
        formControlName="circleCentery"
        class="input__field"
      />
      <em
        *ngIf="circleCentery.hasError('required') && circleCentery.dirty"
        class="help-block text-error"
      >
        This is required 😓
      </em>
      <em *ngIf="circleCentery.hasError('max')" class="help-block text-error">
        maximum value is 100 😓
      </em>
      <em
        *ngIf="circleCentery.hasError('min') && circleCenterx.dirty"
        class="help-block text-error"
      >
        minimum value is 0 😓
      </em>
    </div>
    <div class="input__group">
      <div class="input__label">Radius</div>
      <input
        type="number"
        formControlName="circleRadius"
        placeholder=""
        class="input__field"
      />
      <em
        *ngIf="circleRadius.hasError('required') && circleRadius.dirty"
        class="help-block text-error"
      >
        Radius is required 😓
      </em>
      <em *ngIf="circleRadius.hasError('max')" class="help-block text-error">
        maximum value is 50 😓
      </em>
      <em
        *ngIf="circleRadius.hasError('min') && circleRadius.dirty"
        class="help-block text-error"
      >
        minimum value is 1 😓
      </em>
    </div>
  </div>
  <div class="grid-col lg" *ngIf="(currentShape$ | async) === 'ellipse'">
    <div class="input__group">
      <div class="input__label">Center point X</div>
      <input
        type="number"
        placeholder=""
        formControlName="circleCenterx"
        class="input__field"
      />
      <em
        *ngIf="circleCenterx.hasError('required') && circleCenterx.dirty"
        class="help-block text-error"
      >
        This is required 😓
      </em>
      <em *ngIf="circleCenterx.hasError('max')" class="help-block text-error">
        maximum value is 100 😓
      </em>
      <em
        *ngIf="circleCenterx.hasError('min') && circleCenterx.dirty"
        class="help-block text-error"
      >
        minimum value is 0 😓
      </em>
    </div>
    <div class="input__group">
      <div class="input__label">Center point Y</div>
      <input
        type="number"
        placeholder=""
        formControlName="circleCentery"
        class="input__field"
      />
      <em
        *ngIf="circleCentery.hasError('required') && circleCentery.dirty"
        class="help-block text-error"
      >
        This is required 😓
      </em>
      <em *ngIf="circleCentery.hasError('max')" class="help-block text-error">
        maximum value is 100 😓
      </em>
      <em
        *ngIf="circleCentery.hasError('min') && circleCenterx.dirty"
        class="help-block text-error"
      >
        minimum value is 0 😓
      </em>
    </div>
    <div class="input__group">
      <div class="input__label">Radius X</div>
      <input
        type="number"
        formControlName="ellipseRadiusx"
        placeholder=""
        class="input__field"
      />
      <em
        *ngIf="ellipseRadiusx.hasError('required') && ellipseRadiusx.dirty"
        class="help-block text-error"
      >
        Radius is required 😓
      </em>
      <em *ngIf="ellipseRadiusx.hasError('max')" class="help-block text-error">
        maximum value is 50 😓
      </em>
      <em
        *ngIf="ellipseRadiusx.hasError('min') && ellipseRadiusx.dirty"
        class="help-block text-error"
      >
        minimum value is 1 😓
      </em>
    </div>
    <div class="input__group">
      <div class="input__label">Radius y</div>
      <input
        type="number"
        formControlName="ellipseRadiusy"
        placeholder=""
        class="input__field"
      />
      <em
        *ngIf="ellipseRadiusy.hasError('required') && ellipseRadiusy.dirty"
        class="help-block text-error"
      >
        Radius is required 😓
      </em>
      <em *ngIf="ellipseRadiusy.hasError('max')" class="help-block text-error">
        maximum value is 50 😓
      </em>
      <em
        *ngIf="ellipseRadiusy.hasError('min') && ellipseRadiusy.dirty"
        class="help-block text-error"
      >
        minimum value is 1 😓
      </em>
    </div>
  </div>
  <div class="grid-col lg" *ngIf="(currentShape$ | async) === 'polygon'">
    <div class="input__group">
      <div class="input__label">Input No of sides</div>
      <input
        type="number"
        placeholder=""
        formControlName="polygonNoOfSides"
        class="input__field"
      />
      <em
        *ngIf="polygonNoOfSides.hasError('required') && polygonNoOfSides.dirty"
        class="help-block text-error"
      >
        Pls input no of sides 🙏
      </em>
      <em
        *ngIf="polygonNoOfSides.hasError('max')"
        class="help-block text-error"
      >
        After 15 it looks like a circle 😓
      </em>
      <em
        *ngIf="polygonNoOfSides.hasError('min') && polygonNoOfSides.dirty"
        class="help-block text-error"
      >
        minimum value is 10 😓
      </em>
    </div>
    <div class="input__group">
      <div class="input__label">Input Length</div>
      <input
        type="number"
        formControlName="polygonLengthOfSides"
        placeholder=""
        class="input__field"
      />
      <em
        *ngIf="
          polygonLengthOfSides.hasError('required') &&
          polygonLengthOfSides.dirty
        "
        class="help-block text-error"
      >
        Pls input length of sides 🙏
      </em>
      <em
        *ngIf="polygonLengthOfSides.hasError('max')"
        class="help-block text-error"
      >
        maximum is 60 😓
      </em>
      <em
        *ngIf="
          polygonLengthOfSides.hasError('min') && polygonLengthOfSides.dirty
        "
        class="help-block text-error"
      >
        minimum value is 10 😓
      </em>
    </div>
    <ng-container *ngIf="selectedPoints$ | async">
      <div class="input__group">
        <div class="input__label">x co-ordinate</div>
        <input
          type="number"
          placeholder=""
          formControlName="xCoordinate"
          class="input__field"
        />
      </div>
      <div class="input__group">
        <div class="input__label">y co-ordinate</div>
        <input
          type="number"
          formControlName="yCoordinate"
          placeholder=""
          class="input__field"
        />
      </div>
    </ng-container>
  </div>
  <div class="grid-col lg" *ngIf="(currentShape$ | async) === 'star'">
    <div class="input__group">
      <div class="input__label">Input No points</div>
      <input
        type="number"
        placeholder=""
        formControlName="starNoOfPoints"
        class="input__field"
      />
      <em
        *ngIf="starNoOfPoints.hasError('required') && starNoOfPoints.dirty"
        class="help-block text-error"
      >
        Pls input no of points 🙏
      </em>
      <em *ngIf="starNoOfPoints.hasError('max')" class="help-block text-error">
        maximum is 15 😓
      </em>
      <em
        *ngIf="starNoOfPoints.hasError('min') && starNoOfPoints.dirty"
        class="help-block text-error"
      >
        Anything below 4 isn't really a star or is it? 🥴
      </em>
    </div>
    <div class="input__group">
      <div class="input__label">Radius</div>
      <input
        type="number"
        formControlName="starRadius"
        placeholder=""
        class="input__field"
      />
      <em
        *ngIf="starRadius.hasError('required') && starRadius.dirty"
        class="help-block text-error"
      >
        This is required 🙏
      </em>
      <em *ngIf="starRadius.hasError('max')" class="help-block text-error">
        maximum is 50 😓
      </em>
      <em
        *ngIf="starRadius.hasError('min') && starRadius.dirty"
        class="help-block text-error"
      >
        minumum is 10, the bigger the better 🥴
      </em>
    </div>
    <ng-container *ngIf="selectedPoints$ | async">
      <div class="input__group">
        <div class="input__label">x co-ordinate</div>
        <input
          type="number"
          placeholder=""
          formControlName="xCoordinate"
          class="input__field"
        />
      </div>
      <div class="input__group">
        <div class="input__label">y co-ordinate</div>
        <input
          type="number"
          formControlName="yCoordinate"
          placeholder=""
          class="input__field"
        />
      </div>
    </ng-container>
  </div>
  <div class="color__container">
    <div class="color__fill">
      <span>Fill</span>
      <input
        [style.background]="fill$ | async"
        class="input__color input__color--fill"
        [colorPicker]="fill$ | async"
        [value]="fillFullTransparent() ? '🚫' : ''"
        [cpOutputFormat]="'rgba'"
        (colorPickerChange)="onFillColorChange($event)"
      />
    </div>
    <div class="color__stroke">
      <span>Stroke</span>
      <input
        [style.borderColor]="stroke$ | async"
        class="input__color input__color--stroke"
        [class.none]="(stroke$ | async) === 'rgba(255,255,255,0)'"
        [colorPicker]="stroke$ | async"
        [cpOutputFormat]="'rgba'"
        [value]="strokeFullTransparent() ? '🚫' : ''"
        (colorPickerChange)="onStrokeColorChange($event)"
      />
    </div>
  </div>
  <div class="color__container">
    <span>show grid</span>
    <div class="card-check form-check form-check-inline">
      <input
        class="form-check-input"
        name="checkboxes"
        type="checkbox"
        id="grid"
        value="true"
        formControlName="showGrid"
      />
      <label class="form-check-label" for="grid">
        <div class="checkbox">
          <span>
            <svg
              width="11"
              height="9"
              viewBox="0 0 11 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.7 5.3C1.3 4.9 0.7 4.9 0.3 5.3C-0.1 5.7 -0.1 6.3 0.3 6.7L2.3 8.7C2.5 8.9 2.7 9 3 9C3.3 9 3.5 8.9 3.7 8.7L10.7 1.7C11.1 1.3 11.1 0.7 10.7 0.3C10.3 -0.1 9.7 -0.1 9.3 0.3L3 6.6L1.7 5.3Z"
                fill="white"
              />
            </svg>
          </span>
        </div>
      </label>
    </div>
  </div>
  <div class="btn__group">
    <button
      class="btn btn--primary"
      (click)="applyChanges()"
      [disabled]="shapeForm.invalid"
    >
      Apply Changes
    </button>
    <button
      class="btn btn--danger"
      (click)="deleteArtboard()"
      *ngIf="index > 0"
    >
      Delete Shape
    </button>
  </div>
</form>
