*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:focus {
  outline: unset;
}
html {
  box-sizing: border-box;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease-in forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

.text-error {
  font-size: 12px;
  color: red;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
